.chat-window {
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    position: fixed;
    z-index: 1000;
    cursor: grab;
  }

  .chat-window:active {
    cursor: grabbing;
  }
  
  .messages-area {
    overflow-y: auto;
  }

  .message {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    color: #333;
  }
  
  .user {
    background-color: #dcf8c6;
    align-self: flex-end;
    color: #000;
  }
  
  .recipient {
    color: #555; 
  }

  .input-area {
    display: flex;
  }
  
  .input-area input {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .input-area button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }

  .close-chat {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }


  .user-info {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 20px;
    color: rgb(90, 151, 230);
  }

  .message-timestamp {
    text-align: right;
    font-size: 0.75em; /* Adjust the size as needed */
    padding-right: 5px; /* Adds some spacing to the right */
  }

  .message.sent {
    background-color: #DCF8C6; /* Light green background for sent messages */
    text-align: right; /* Aligns sent messages to the right */
    margin-left: auto; /* Pushes the message to the right side */
    padding: 10px; /* Adds some padding around the text */
    border-radius: 10px; /* Rounds the corners of the message bubble */
    max-width: 80%; /* Ensures the message doesn't take full width */
  }
  
  .message.received {
    background-color: #ECECEC; /* Light grey background for received messages */
    text-align: left; /* Aligns received messages to the left */
    margin-right: auto; /* Ensures the message stays on the left side */
    padding: 10px; /* Adds some padding around the text */
    border-radius: 10px; /* Rounds the corners of the message bubble */
    max-width: 80%; /* Ensures the message doesn't take full width */
  }