.user-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: jump 0.5s ease;
  overflow-y: auto; /* Enable vertical scrolling within the modal */
  max-height: 90vh; /* Ensure modal content does not exceed the viewport height */
}

@keyframes jump {
  0% {
      transform: translate(-50%, -50%) scale(0);
  }
  80% {
      transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
      transform: translate(-50%, -50%) scale(1);
  }
}

.user-photos img {
  cursor: pointer;
  max-width: 30%; /* Initial small size */
  max-height: 30%; /* Initial small size */
}

.user-photos img.enlarge-cursor {
  cursor: zoom-in; 
}

.enlarged-image-container img.reduce-cursor {
  cursor: zoom-out; 
}

.enlarged-image-container {
  display: flex; /* Use flexbox to center the image vertically */
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
}

.enlarged-image-container img {
  max-height: 100%; /* Adjusted to limit the size of the enlarged image */
  max-width: 100%; /* Adjusted to limit the width of the enlarged image */
  width: auto; /* Maintain the image aspect ratio */
  height: auto; /* Adjust height automatically to maintain aspect ratio */
}